$background: linear-gradient(45deg, #A1C4FD, #C2E9FB);

$modal-surface: #FFFFFF;
$on-modal-surface: #333333;

$list-surface: #F7F7F7;
$on-list-surface: #333333;

$primary: #324BFF;
$on-primary: #FFFFFF;
