body {
    font-family: "Montserrat", sans-serif;
}

.title-1 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 13px;
    font-weight: 500;
}

.title-2 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 500;
}

.text {
    font-size: 18px;
    line-height: 26px;
}
